@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Murecho:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arya', 'Murecho', sans-serif;
  color: #777; }
  *::-webkit-scrollbar {
    display: none; }

header,
footer,
p,
img,
a,
ul,
li,
h1,
h2,
h3,
section,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  border: 0; }

html {
  font-size: 12px;
  line-height: 1.5; }

button {
  cursor: pointer;
  background: none; }

.wrapper {
  max-width: 1600px;
  margin: auto; }
  .wrapper .flex-box {
    display: flex;
    width: 100%; }
    .wrapper .flex-box .sidebar {
      width: 20%;
      height: 100vh;
      z-index: 100;
      box-shadow: 0px 3px 6px #ccc;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      transition: all 0.5s; }
      @media screen and (max-width: 1024px) {
        .wrapper .flex-box .sidebar {
          position: absolute;
          margin-left: -40%;
          width: 240px; } }
    .wrapper .flex-box .sidebar.open {
      margin-left: 0%; }
    .wrapper .flex-box .main {
      width: 80%;
      height: 100vh;
      position: relative; }
      @media screen and (max-width: 1024px) {
        .wrapper .flex-box .main {
          width: 100%; } }

.profile {
  font-size: 1.5rem;
  padding: 4rem 1rem; }
  .profile img {
    margin: 0 0 4rem 0; }

.navGroup {
  position: relative; }
  .navGroup button {
    display: block;
    width: 160px;
    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    padding-left: 3rem; }
    .navGroup button:hover {
      animation: text 0.5s ease-out forwards; }
  .navGroup::before {
    content: '■';
    color: #006869;
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    transition: all 0.5s; }

.navAct::before {
  top: 4.7rem; }

.project {
  display: flex;
  flex-direction: column; }
  .project .project-nav {
    display: flex;
    padding: 2rem 0 5rem 2rem;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 27vh; }
    .project .project-nav::-webkit-scrollbar {
      display: none; }
    .project .project-nav .card {
      height: 150px;
      width: 180px;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 4px 4px 12px #ccc;
      border: 0;
      padding: 1rem;
      margin-right: 2rem;
      transition: all 0.3s; }
      .project .project-nav .card:hover {
        transform: scale(1.1); }
      .project .project-nav .card .imgbox {
        border: 2px solid #eee;
        border-radius: 0.5rem;
        padding: 0;
        overflow: hidden; }
        .project .project-nav .card .imgbox .imgbox__inner {
          width: 100%;
          padding-top: 100%;
          position: relative; }
          .project .project-nav .card .imgbox .imgbox__inner .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center; }
        .project .project-nav .card .imgbox .imgbox__inner.imgbox__inner--4-3 {
          padding-top: calc(100% * 9 / 16); }
      .project .project-nav .card h5 {
        margin: 4px 0 0 0;
        font-size: 1.2rem; }
      .project .project-nav .card p {
        color: #aaa;
        font-size: 12px;
        line-height: 1; }
  .project .project-content {
    width: 80%;
    height: 73vh;
    overflow-y: scroll;
    margin: auto; }
    .project .project-content .content {
      margin-bottom: 120px; }
    .project .project-content::-webkit-scrollbar {
      display: none; }
    .project .project-content h2 {
      font-size: 2.5rem;
      text-align: center; }
      @media screen and (max-width: 1024px) {
        .project .project-content h2 {
          font-size: 2rem; } }
    .project .project-content img {
      max-width: 600px;
      display: block;
      margin: 6rem auto; }
    .project .project-content .detailRow {
      display: flex;
      font-size: 1.5rem;
      margin: 0 0 2rem 0;
      line-height: 2; }
      .project .project-content .detailRow .ttl {
        width: 15%;
        font-weight: 700;
        text-align: right;
        margin-right: 3rem;
        color: #525252; }
      .project .project-content .detailRow .txt {
        width: 100%; }
        .project .project-content .detailRow .txt a {
          color: #006869; }
      .project .project-content .detailRow img {
        margin: 0 2rem 0 0;
        height: 4rem;
        width: auto;
        display: inline-block; }

.design-nav button {
  transform: translate(0, -50%) scale(0.5, 1);
  position: absolute;
  top: 50%;
  font-size: 5rem;
  color: #aaa;
  opacity: 0.5;
  transition: all 0.3; }
  .design-nav button:active {
    animation: btnClick 0.3s linear; }
  .design-nav button:hover {
    color: #777; }
.design-nav .btn-lf {
  left: 0; }
.design-nav .btn-rt {
  right: 0; }

.design-content {
  height: 100vh;
  overflow-y: auto; }
  .design-content .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 5rem 0 0rem 0; }
    .design-content .content img {
      margin-bottom: 5rem; }

.menu-btn {
  position: absolute;
  display: none;
  z-index: 50;
  background-color: #fff;
  padding: 4px 8px;
  margin-top: 12px;
  border-radius: 0 12px 12px 0;
  box-shadow: 0px 3px 6px #ccc;
  font-size: 2rem;
  transition: all 0.5s; }
  @media screen and (max-width: 1024px) {
    .menu-btn {
      display: block;
      top: 0;
      left: 0; } }

.menuTagOn {
  left: 240px; }

footer {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer p {
    color: #aaa; }

@keyframes text {
  0% {
    color: #aaa; }
  33% {
    color: #777; }
  66% {
    color: #aaa; }
  100% {
    color: #777; } }
@keyframes btnClick {
  0% {
    opacity: 1;
    transform: translate(0, -50%) scale(0.3, 0.6); }
  60% {
    transform: translate(0, -50%) scale(1, 2);
    opacity: 0.1; }
  90% {
    transform: translate(0, -50%) scale(0.5, 1); }
  100% {
    opacity: 0.5; } }

/*# sourceMappingURL=style.css.map */
